<section class="content-header">
  <h1 *ngIf="student !=null" style="width: 60%; overflow-wrap: break-word;display: inline-block;">
    {{student.firstName}} {{student.lastName}}
  </h1>
  <div style="float: right;">
    <button type="button" class="btn bg-gold btn-sm" (click)="listStudents()" style="margin-right: 5px;"><i
        class="fa fa-list" style="margin-right: 5px;"></i> Student List</button>
  </div>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-top-border">
        <div class="box-body">
          <div class="box-header" style="padding-left: 0px;">
            <h3 class="box-title section-title">Student Details</h3>
            <hr class="section-title-line">
          </div>
          <div class="row" *ngIf="student !=null">
            <div class="col-md-12">
              <!-- ============ ITS ID ============ -->
              <div>
                <label style="min-width: 150px;">
                  ITS ID:
                </label>
                <span>
                  <label style="font-weight: 500;">
                    {{student.itsId}}
                  </label>
                </span>
              </div>
              <!-- ============ Student Name ============ -->
              <div>
                <label style="min-width: 150px;">
                  Name:
                </label>
                <span>
                  <label style="font-weight: 500;">{{student.firstName}}
                    {{student.lastName}}</label>
                </span>
              </div>
              <!-- ============ Juz Completed ============ -->
              <div>
                <label style="min-width: 150px;">
                  Juz Completed:
                </label>
                <span>
                  <label style="font-weight: 500;">
                    {{student.juzCount}}
                  </label>
                </span>
              </div>
            </div>
          </div>
          <br />
          <br />
          <div class="box-header" style="padding-left: 0px;">
            <h3 class="box-title section-title">Tilawats</h3>
            <hr class="section-title-line">
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align: center;">
              <div id="tilawats_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                <table id="tilawats" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="row-border hover display stripe">
                  <thead>
                    <tr>
                      <th style="text-align: center;">Sr No.</th>
                      <th style="text-align: center;">Date</th>
                      <th style="text-align: center;">Surat Name</th>
                      <th style="text-align: center;">Ayat Recited</th>
                      <!-- <th style="text-align: center;">Actions</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let t of tilawats; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ t.date | date:shortDate}}</td>
                      <td>{{t.suratName}}</td>
                      <td>{{ t.ayatCount }}</td>
                      <!-- <td>
                        
                      <button type="button" class="btn btn-danger btn-xs" (click)="deleteTilawat(t)"><i
                          class="fa fa-trash"></i></button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>