<section class="content-header">
  <h1 style="display: inline-block;"> Student List</h1>
  <div style="float: right;">
    <button type="button" class="btn bg-gold btn-sm" (click)="addTilawat()"
    style="margin-right: 5px;"><i class="fa fa-plus" style="margin-right: 5px;"></i>Add Tilawat</button>
  </div>
  
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12" style="text-align: center;">
      <div class="box box-top-border" >
        <div class="box-body">
          
          <div class="row">
            <div class="col-xs-12" style="overflow-x: scroll;">
              <div id="student_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    
                <table id="student" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="row-border hover display stripe" style="width: 100%;">
                  <thead>
                    <tr>
                      <th style="text-align: center;  padding: 10px 13px;">Sr No.</th>
                      <th style="text-align: center; padding: 10px 13px;">ITS ID</th>
                      <th style="text-align: center;  padding: 10px 13px;">Name</th>
                      <th style="text-align: center;  padding: 10px 13px;">Juz Count</th>
                      <!-- <th style="text-align: center;  padding: 10px 13px;">Actions</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let s of students; let i = index">
                      <td >{{ i + 1 }}</td>
                      <td>{{ s.itsId }}</td>
                      <td (click)="viewStudent(s._id)">{{ s.firstName }} {{s.lastName}}</td>
                      <td>{{ s.juzCount }}</td>
                      <!-- <td>
                        <button type="button" class="btn bg-navy btn-xs" (click)="viewstudent(s._id)"
                          style="margin: 5px;"><i class="fa fa-eye"></i></button>
                          
                        <button type="button" class="btn btn-danger btn-xs" (click)="deleteProduct(p)"
                        style="margin: 5px"><i
                            class="fa fa-trash"></i></button>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
